@keyframes showCorrectQuestion {
  from {
    background-color: #fff; }
  to {
    background-color: #28a745; } }
@keyframes showErrorQuestion {
  from {
    background-color: #fff; }
  to {
    background-color: #ed1c24; } }
@keyframes showEndTime {
  from {
    opacity: 0.3;
    transform: scale(0.8); }
  to {
    opacity: 1;
    transform: scale(1.2); } }
body {
  margin: 0;
  font-size: 16px;
  height: 100vh;
  position: relative;
  background: #000; }

img {
  max-width: 100%; }

.backgroundImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #28a745;
  border-radius: 10px;
  height: 650px; }

* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:focus, *:hover {
    outline: none; }

a {
  text-decoration: none; }
  a:focus {
    text-decoration: none; }

.container {
  width: 1138px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 650px;
  z-index: 2;
  padding-top: 50px; }

.d-flex {
  display: flex; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
  .row > * {
    padding-left: 15px;
    padding-right: 15px; }
  .row .col-8 {
    flex: 0 0 66.66%;
    max-width: 66.66%; }
  .row .col-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .row .col-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%; }
  .row .col-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .row .col-2 {
    flex: 0 0 20%;
    max-width: 20%; }

.alignCenter {
  align-items: center; }

.justifySpaceBetween {
  justify-content: space-between; }

.justtifyContentCenter {
  justify-content: center; }

.btn {
  color: #fff;
  display: inline-block;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer; }
  .btn.red {
    background-color: #ed1c24; }
  .btn.green {
    background-color: #28a745; }
  .btn.blue {
    background-color: #007bff; }
  .btn.yellow {
    background-color: #ffc107; }
  .btn.sky {
    background-color: #17a2b8; }
  .btn.dark {
    background-color: #343a40; }

input {
  font-size: 1em;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.3); }

input[type="file"] {
  max-width: 200px; }

.text-center {
  text-align: center; }

.text-red {
  color: #ed1c24; }

.text-green {
  color: #28a745; }

.text-blue {
  color: #007bff; }

.text-yellow {
  color: #ffc107; }

.text-sky {
  color: #17a2b8; }

.text-dark {
  color: #343a40; }

.text.red {
  color: #ed1c24; }
.text.green {
  color: #28a745; }
.text.blue {
  color: #007bff; }
.text.yellow {
  color: #ffc107; }
.text.sky {
  color: #17a2b8; }
.text.dark {
  color: #343a40; }

.text-uppercase {
  text-transform: uppercase; }

.bold {
  font-weight: 700; }

.mt-10 {
  margin-top: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.mt-20 {
  margin-top: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.mt-40 {
  margin-top: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.box-block-border {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #fff; }

.group-header {
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px; }

.member-card {
  padding: 20px;
  margin: 30px 0;
  border: 1px solid transparent;
  transition: all 0.3s;
  border-radius: 10px; }
  .member-card:hover {
    transform: scale(1.1);
    cursor: pointer;
    border: 1px solid #000;
    opacity: 0.8; }
  .member-card.level-1 {
    background-color: pink; }
  .member-card.level-2 {
    background-color: #28a745; }
  .member-card.level-3 {
    background-color: #17a2b8; }
  .member-card.level-4 {
    background-color: #ffc107; }

h1 {
  color: #0014d1;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3em; }
  h1.level1 {
    color: pink; }
  h1.level2 {
    color: #28a745; }
  h1.level3 {
    color: #17a2b8; }
  h1.level4 {
    color: #ffc107; }

.point-circle {
  border-radius: 10px;
  padding: 4px 15px;
  border: 1px solid;
  margin-left: 10px;
  background-color: red;
  color: yellow; }

.btn-question {
  padding: 20px;
  cursor: pointer;
  margin: 0 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .btn-question:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffc107;
    transform: scale(1);
    transition: transform 0.3s;
    border-radius: 10px;
    border: 2px solid #007bff; }
  .btn-question h4 {
    position: relative; }
  .btn-question:hover:not(.finish):before {
    transform: scale(1.1); }
  .btn-question.finish {
    opacity: 0.2;
    cursor: no-drop; }

.list-group-question {
  max-width: 600px; }
  .list-group-question h2 {
    margin-top: 60px;
    line-height: 120px;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #28a745;
    color: #fff;
    text-transform: uppercase; }

.question-detail {
  text-align: center;
  padding: 15px 15px;
  margin-bottom: 15px;
  color: yellow;
  font-size: 30px;
  border-radius: 30px;
  background-color: #007bff;
  background-image: linear-gradient(141deg, #e68299 0%, #a51414 70%, #dc7171 90%);
  border: 5px solid purple; }

.choose-answer {
  padding: 10px 30px;
  color: #000;
  font-weight: bold;
  font-size: 24px;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 3px solid gray; }
  .choose-answer.correct-answer {
    background-color: #28a745;
    background-image: none;
    animation: showCorrectQuestion 0.2s linear 3; }
  .choose-answer.error-answer {
    background-color: #ed1c24;
    background-image: none;
    animation: showErrorQuestion 0.2s linear 3; }

.level-to-select {
  max-width: 600px; }

.button-level {
  padding: 10px 20px;
  cursor: pointer; }
  .button-level img {
    transform: scale(1);
    transition: transform linear 0.3s;
    max-height: 90px; }
  .button-level:hover:not(.finish) img {
    transform: scale(1.1); }
  .button-level.finish {
    opacity: 0.2;
    cursor: no-drop; }

.group-circle {
  width: 40px;
  height: 40px;
  background: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  margin: 5px;
  cursor: pointer; }
  .group-circle.active {
    background-color: #ffc107; }
  .group-circle:hover {
    background-color: #ffc107; }

.info-group h3 {
  color: #000;
  padding: 10px 20px;
  font-size: 27px; }

.mw-800 {
  max-width: 800px;
  margin: 0 auto;
  position: relative; }

.time {
  font-size: 6rem;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #ed1c24;
  font-weight: bold; }
  .time.end-time {
    animation: showEndTime 0.5s linear alternate-reverse infinite; }

.btn-action {
  width: 50px;
  cursor: pointer; }

/*# sourceMappingURL=App.css.map */
